<% current_commit_in_qa = state.current_commit_sha_in('qa') %>
<% current_commit_in_staging = state.current_commit_sha_in('staging') %>
<% current_commit_in_sandbox = state.current_commit_sha_in('sandbox') %>
<% current_commit_in_production = state.current_commit_sha_in('prod') %>
<% if environment == 'qa' %>
  <% prs = Diff.pull_requests_between('main', current_commit_in_qa) %>

  <% if prs.size == 0 %>
    <div class='govuk-body'>
      👌 All of the PRs on main are deployed
    </div>
  <% else %>
    <div class='govuk-heading-s'><%= prs.size %> PRs behind main</div>

    <div class='govuk-body'>
      The following PRs haven't been deployed to QA yet (<a href='<%= latest_build.diff_against_url('main') %>' class='govuk-!-font-size-19'>see the full diff of QA against main</a>):
    </div>

    <ol class='govuk-list govuk-list--number govuk-body-s'>
      <% prs.each do |author, title| %>
        <li><%= title %> (<%= author %>)</li>
      <% end %>
    </ol>
  <% end %>
<% elsif environment == 'sandbox' %>
  <% prs = Diff.pull_requests_between(current_commit_in_qa, current_commit_in_sandbox) %>

  <% if prs.size == 0 %>
    <div class='govuk-body'>
      👌 Sandbox is up to date with QA
    </div>
  <% else %>
    <div class='govuk-heading-s'><%= prs.size %> PRs behind QA</div>

    <div class='govuk-body'>
      The following PRs haven't been deployed to sandbox yet (<a href='<%= latest_build.diff_against_url(current_commit_in_qa) %>' class='govuk-!-font-size-19'>see the full diff of sandbox against QA</a>):
    </div>

    <ol class='govuk-list govuk-list--number govuk-body-s'>
      <% prs.each do |author, title| %>
        <li><%= title %> (<%= author %>)</li>
      <% end %>
    </ol>
  <% end %>
<% elsif environment == 'production' %>
  <% prs = Diff.pull_requests_between(current_commit_in_sandbox, current_commit_in_production) %>

  <% if prs.size == 0 %>
    <div class='govuk-body'>
      👌 Production is up to date with Sandbox
    </div>
  <% else %>
    <div class='govuk-heading-s'><%= prs.size %> PRs behind Sandbox</div>

    <div class='govuk-body'>
      The following PRs haven't been deployed to production yet (<a href='<%= latest_build.diff_against_url(current_commit_in_sandbox) %>' class='govuk-!-font-size-19'>see the full diff of Production against Sandbox</a>):
    </div>

    <ol class='govuk-list govuk-list--number govuk-body-s'>
      <% prs.each do |author, title| %>
        <li><%= title %> (<%= author %>)</li>
      <% end %>
    </ol>
  <% end %>
<% end %>
