<% current_commit_in_qa = state.current_commit_sha_in('qa') %>
<% current_commit_in_staging = state.current_commit_sha_in('staging') %>
<% current_commit_in_sandbox = state.current_commit_sha_in('sandbox') %>
<% current_commit_in_production = state.current_commit_sha_in('prod') %>
<% if environment == 'qa' %>
  <% prs = Diff.pull_requests_between('master', current_commit_in_qa) %>

  <% if prs.size == 0 %>
    <div class='govuk-body'>
      👌 All of the PRs on master are deployed
    </div>
  <% else %>
    <div class='govuk-heading-s'><%= prs.size %> PRs behind master</div>

    <div class='govuk-body'>
      The following PRs haven't been deployed to QA yet (<a href='<%= latest_build.diff_against_url('master') %>' class='govuk-!-font-size-19'>see the full diff of QA against master</a>):
    </div>

    <ol class='govuk-list govuk-list--number govuk-body-s'>
      <% prs.each do |author, title| %>
        <li><%= title %> (<%= author %>)</li>
      <% end %>
    </ol>
  <% end %>
<% elsif environment == 'sandbox' %>
  <% prs = Diff.pull_requests_between(current_commit_in_qa, current_commit_in_sandbox) %>

  <% if prs.size == 0 %>
    <div class='govuk-body'>
      👌 Sandbox is up to date with QA
    </div>
  <% else %>
    <div class='govuk-heading-s'><%= prs.size %> PRs behind QA</div>

    <div class='govuk-body'>
      The following PRs haven't been deployed to sandbox yet (<a href='<%= latest_build.diff_against_url(current_commit_in_qa) %>' class='govuk-!-font-size-19'>see the full diff of sandbox against QA</a>):
    </div>

    <ol class='govuk-list govuk-list--number govuk-body-s'>
      <% prs.each do |author, title| %>
        <li><%= title %> (<%= author %>)</li>
      <% end %>
    </ol>

    <div class="govuk-grid-row" id="sandbox-deploy">
      <div class="govuk-grid-column-three-quarters">
        <label class="govuk-visually-hidden" for="sandbox-deploy-input">Commit SHA for the sandbox deploy</label>
        <input id="sandbox-deploy-input" value='<%= current_commit_in_qa %>' class='govuk-input' readonly>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" onclick="onDeployButtonClick('<%= current_commit_in_qa %>', 'sandbox');" style="width: 100%">
           Deploy 🚢
        </button>
      </div>
    </div>
  <% end %>
<% elsif environment == 'production' %>
  <% prs = Diff.pull_requests_between(current_commit_in_sandbox, current_commit_in_production) %>

  <% if prs.size == 0 %>
    <div class='govuk-body'>
      👌 Production is up to date with Sandbox
    </div>
  <% else %>
    <div class='govuk-heading-s'><%= prs.size %> PRs behind Sandbox</div>

    <div class='govuk-body'>
      The following PRs haven't been deployed to production yet (<a href='<%= latest_build.diff_against_url(current_commit_in_sandbox) %>' class='govuk-!-font-size-19'>see the full diff of Production against Sandbox</a>):
    </div>

    <ol class='govuk-list govuk-list--number govuk-body-s'>
      <% prs.each do |author, title| %>
        <li><%= title %> (<%= author %>)</li>
      <% end %>
    </ol>

    <div class="govuk-grid-row" id="production-deploy">
      <div class="govuk-grid-column-three-quarters">
        <label class="govuk-visually-hidden" for="sandbox-deploy-input">Commit SHA for the production deploy</label>
        <input id="production-deploy-input" value='<%= current_commit_in_sandbox %>' class='govuk-input' readonly>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" onclick="onDeployButtonClick('<%= current_commit_in_sandbox %>', 'production');" style="width: 100%">
           Deploy 🚢
        </button>
      </div>
    </div>
  <% end %>
<% end %>
