<div class='govuk-grid-row'>
  <% %w[qa staging production sandbox].each do |environment| %>
  <% latest_deploy = state.latest_successfull_deploy_to(environment) %>

  <div class='deploy-environment govuk-grid-column-one-quarter deploy-environment--<%= environment %>'>
    <h2 class='govuk-heading-xl'><%= environment %></h2>

    <div class='govuk-body govuk-!-font-size-27'>
      last deploy on
      <%= latest_deploy.start_time %>
      by <%= latest_deploy.deployer_name %>
      <code><%= latest_deploy.commit_sha %></code>
    </div>

    <h2 class='govuk-heading-m'><%= state.unreleased_pull_requests_since(latest_deploy.commit_sha).size %> undeployed PRs</h2>

    <ul class='govuk-list'>
      <% state.unreleased_pull_requests_since(latest_deploy.commit_sha).each do |author, title| %>
        <li><%= title %> (<%= author %>)</li>
      <% end %>
    </ul>

    <div class='govuk-body'>
      <a href='https://github.com/DFE-Digital/apply-for-postgraduate-teacher-training/compare/<%= latest_deploy.commit_sha %>...master' class='govuk-body govuk-!-font-size-19'>full diff</a>
    </div>
  </div>
  <% end %>
</div>
