<table class='govuk-table apply-hypertable'>
  <thead>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">

      </th>
      <% %i[production staging sandbox qa].each do |e| %>
        <th scope="col" class="govuk-table__header">
          <%= @features.environment_name(e) %>
          <%= @features.sandbox_environments.include?(e) ? "ðŸ–ï¸" : "" %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @sorted_features.each do |feature| %>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header apply-feature-header apply-feature-state--<%= feature.state %>"><%= feature.name %></th>

        <% %i[production staging sandbox qa].each do |e| %>
          <td class="govuk-table__cell apply-feature <%= feature.send(e) ? "apply-feature-active" : "apply-feature-inactive" %>">
            <a href="<%= @features.environment_url(e) %>">
              <%= feature.send(e) ? "Active" : "Inactive" %>
            </a>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
